@import "../../Global.scss";

.Intro {
  display: flex;
  margin-left: 40px;
  margin-top: 10px;

  .introContainer {
    width: 43%;
    height: 24vh;
    background-color: $primaryCollor;
    border-radius: 10px;
    display: flex;

    .left {
      width: 30%;
      p {
        text-align: start;
        color: $secondaryCollor;
        margin-top: 10px;
        margin-left: 10px;
        font-size: 12;
        font-weight: 800;

        span {
          color: #ffff00;
        }
      }

      .subTitle {
        font-weight: 300;
        color: white;
      }

      button {
        margin-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10px;
        background-color: $backgroundCollor;
        margin-right: 50%;
        margin-left: 20%;
        cursor: pointer;
        border: none;
        transition: all ease-in 0.1s;
        a {
          color: white;
          text-decoration: none;
        }
      }
      button:hover {
        background-color: $secondaryCollor;
        color: $backgroundCollor;
      }
    }

    .right {
      width: 60%;
      .graphic {
        margin-top: 20px;
        color: #ffff00;
      }
    }
  }

  .itensContainer {
    width: 52%;
    height: 24vh;
    background-color: $primaryCollor;
    margin-left: 15px;
    border-radius: 10px;

    .toptitle {
      display: flex;
      justify-content: center;
      p {
        font-weight: 400;
        font-size: 40px;
        color: $secondaryCollor;
      }
    }
    .cadastros {
      display: flex;
      justify-content: space-around;
      div {
        button {
          border-radius: 10px;
          padding: 15px;
          margin-top: 10px;
          margin-left: 20px;
          margin-right: 20px;
          background-color: $backgroundCollor;
          cursor: pointer;
          border: none;
          transition: all ease-in 0.2s;

          p {
            color: white;
          }

          .registration_icon {
            color: $secondaryCollor;
          }
        }
        button:hover {
          background-color: $primaryCollor;
        }
      }
    }
  }
}
