@import "../../Global.scss";

.table_carros {
  width: 100%;
}

.table_carros th,
.table_carros td {
  padding: 10px 20px;
  text-align: left;
}
th {
  color: $secondaryCollor;
}
td {
  color: white;
}

.table_carros th {
  cursor: pointer;
}

input {
  margin-top: 20px;
  padding: 10px;
  border-color: $secondaryCollor;
  color: $primaryCollor;
  background-color: white;
  width: 95%;
  border-radius: 10px;
}